.carousel-container {
  width: 100%; /* Make the container take up 100% of the available width */
  max-width: 100%; /* Set a maximum width for larger screens */
  max-height: 500px;
  margin: auto;
  padding: 0 10px; /* Add padding to ensure it doesn't touch the edges of the screen */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 500px;
}

.carousel-image {
  width: 100%;
  max-height: 600px; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image covers the entire container */
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .carousel-container {
    max-width: 95%; /* Adjust the maximum width for smaller screens */
  }
}

@media (max-width: 480px) {
  .carousel-container {
    max-width: 95%; /* Adjust the maximum width for very small screens */
  }
}
